{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="button" value="{% trans 'Вернуться без сохранения' %}"
               onclick="window.location.href='{% url 'admin:posts_post_changelist' %}'"
               style="background: #ba2121; margin-left: 10px;">
    </div>
{% endblock %}

{% block submit_buttons_top %}
    {{ block.super }}
    <div class="submit-row">
        <input type="button" value="{% trans 'Вернуться без сохранения' %}"
               onclick="window.location.href='{% url 'admin:posts_post_changelist' %}'"
               style="background: #ba2121; margin-left: 10px;">
    </div>
{% endblock %}